@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "_variables";
@import "modules/projects.scss";
@import "modules/skills.scss";
@import "modules/hero.scss";

html {
  box-sizing: border-box;
}
*,
*:before *:after {
  box-sizing: inherit;
}

body {
  font-family: "Nunito";
  color: $text;
}
